.logo-full {
    font-size: 10vh;
}

.wave {
    height: 20vh;
    transform: rotate(180deg);
    width: 200vw;
    transition: 0.3s;
}

.svg-clip {
    overflow: hidden;
}

.neumorph {
    box-shadow:  8px 8px 16px #d5cecc,
             -8px -8px 16px #ffffff !important;
}